<div class="container">
  <div class="row col-md-10 col-12 offset-md-1">
    <h4 class="font-weight-bold p-0 mt-3">{{contributor}}'s repositories<hr></h4>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Name of repo</th>
          <th>Forked?</th>
          <th>Stargazers</th>
          <th>Last update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let repo of repos$ | async | sort:'updated_at'">
          <td>{{repo.name}}</td>
          <td>{{repo.fork}}</td>
          <td>{{repo.stargazers_count}}</td>
          <td>{{repo.updated_at}}</td>
        </tr>
      </tbody>
    </table>

    <button
      class="btn btn-outline-primary text-uppercase mb-5"
      [routerLink]="['']"
    >Back to the contributros</button>
  </div>
</div>

