<div class="container bg-light">
  <h4 class="font-weight-bold p-3">Top contributors<hr></h4>
  <div
    class="search-results"
    infiniteScroll
    [infiniteScrollDistance]="10"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()"
    >
    <div class="row w-100 m-0">
      <div class="col-12 d-flex flex-row flex-wrap justify-content-between">
        <app-card
          *ngFor="let contributor of contributors$ | async | sort:'contributions'"
          [contributor]="contributor"
          class="col-12 col-md-6 col-lg-4 col-xl-3 p-0 mb-3"
        ></app-card>
      </div>
    </div>
  </div>

</div>
<!-- <div class="row pb-5">
  <div class="col-md-12 p-5">
    <ngx-spinner
      bdColor="rgba(51,51,51,0.8)"
      size="medium"
      color="#888"
      type="square-jelly-box"
      >
      <p style="font-size: 20px; color: white">Loading...</p>
    </ngx-spinner>
  </div>
</div> -->
